body{
  margin: 0;
  padding: 0;
}
.gen{
display: flex;
margin-left: 400px;
}
.gen1{
  height: 850px;
  width: 33%;
  border: 5px solid rgb(247, 241, 241);
  box-shadow: 2px 5px black;
  border-radius: 20px;
  padding: 10px 10px;
  background-color: #6ae1ed;
}
.gen2{
  height: 850px;
  width: 33%;
  border: 5px solid rgb(247, 241, 241);
  box-shadow: 2px 5px black;
  border-radius: 20px;
  margin-left: 30px;
  padding: 10px 10px;
  background-color: #6ae1ed;
}
.gen1-1 img{
  margin-left: 5px;
  border-radius: 15px;
}
.gen2-1 img{
  margin-left: 5px;
  border-radius: 15px;
}
.gen-txt{
  height: 250px;
  width: 850px;
  margin-left: 400px;
  margin-top: 30px;
}

.personality{
  display: flex;
  position: absolute;
  top: 67px;

}
.per{
  text-align: center;
  
  color: #000000;
  height: 50px;
  font-size: 30px;
}
.per:hover{
  cursor: pointer;
  animation: pulse;
  animation-duration: 2s;
}
.p-p{
  padding: 50px 40px;
  background-color: #fcf545;
}
